@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.App {
  text-align: center;
}

body {
  padding: 0%;
  margin: 0%;
  font-family: monospace;
}

body  section {
  padding-top: 5%;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.header img {
  height: 80px;
  position: absolute;
  top: 50%,
}

.logo {
  margin: 0;
}

.logo a {
  padding: 10px 15px;
	display: block;
}

nav {
  margin: 0;
  width: 100%;
  height: 80px;
  color: white;
  padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;

	display: flex;
  justify-content: flex-end;
  align-items: center;
}

a {
  color: #34495e;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
}

a:hover {
  color: #718daa;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #718daa;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #718daa;
}

.searchButton {
  border: 1px solid rgb(69, 62, 249);
  background: #718daa;
  color: #fff;
  border-radius: 0 5px 5px 0;
}

.searchButton:hover {
  border: 1px solid rgb(55, 52, 148);
  background: rgba(48, 35, 143, 0.378);
  color: #fff;
  transition: all 400ms ease;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.products {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.productsNav {
  width: 70%;
  height: 80px;
  border-radius: 12px;
  position: absolute;
  top: 10%;
  display: flex;
  justify-content: center;
}

.productsNav a {
  width: 150px;
  height: 50px;
  background-color: #9dbfaf;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listOfProducts {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.productsList {
  columns: 3 auto;
  column-gap: 1.5rem;
  display: inline-block;
  position: absolute;
  top: 16%;
}

.productListDisplay {
  width: 300px;
  height: 300px;
  background-color: rgb(233, 233, 233);
  cursor: pointer;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productDisplay {
  width: 700px;
  height: 700px;
  background-color: rgb(233, 233, 233);
  cursor: pointer;
  text-align: center;
  position: absolute;
  top: 20%;
}

.productDisplay button {
  position: absolute;
  top: -5%;
}

.productDisplay h3 {
  font-size: 45px;
}
.productDisplay h4 {
  font-size: 35px;
}
.productDisplay h5 {
  font-size: 25px;
}
.productDisplay p {
  font-size: 25px;
}

.img {
  height: 50%;
  width: 50%;
  margin: 10px;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error button {
  height: 40px;
  width: 80px;
  font-size: 20px;
  margin: 5px;
}

.back {
  position: relative;
  left: 47%;
}

.spinner {
  position: absolute;
  top: 20%;
}

* {
  padding-top: 0;
  margin-top: 0;
  box-sizing: border-box;
}



#light .main {
  background-image: linear-gradient( 95deg, rgba(173,252,234,1) 27%, rgba(192,229,246,1) 64%);
}
#dark .main {
  background-image: linear-gradient(to right, #434343 60%, black 100%);
}

#light .form-container {
  border-radius: 1.5rem;
  background-color: rgba(222,194,203, 0.2);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}

#dark .form-container {
  border-radius: 1.5rem;
  background-color: rgba(222,194,203, 0.4);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}

#dark .sign-in {
  color: #e0ac69;
}
#dark .inp {
  color: #ffe39f;
}
#dark .checkbox {
  color: 	#eac086;
}

#light .login {
  color: 	#a67c00;
  background-color: #FFE38C;
  border: 1px solid #ecb939;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: all 400ms ease;
}
#light .login:hover {
  color: white;
  background-color: #ecb939;
  border: 1px solid #BA9900;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: all 400ms ease;
}

#dark .login {
  color: #66545e;
  background-color: #ffe0bd;
  border: 1px solid #e4d5b7;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: all 400ms ease;
}
#dark .login:hover {
  color: white;
  background-color: #d9b99b;
  border: 1px solid #be9b7b;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: all 400ms ease;
}


#light .facebook {
  background-color: #2389da;
  border: 1px solid #0f5e9c;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: all 400ms ease;
}
#light .facebook:hover {
  background-color: #74ccf4;
  border: 1px solid #1ca3ec;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: all 400ms ease;
}
#light .fa-logo {
  color: white;
}

#dark .facebook {
  background-color: #abb1cf;
  border: 1px solid #abb1cf;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: all 400ms ease;
}
#dark .facebook:hover {
  background-color: #92a8d1;
  border: 1px solid #92a8d1;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: all 400ms ease;
}
.fa-logo {
  color: white;
}

#light .google {
  background-color: #d9534f;
  border: 1px solid #740001;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: all 400ms ease;
}
#light .google:hover {
  background-color: #ff5252;
  border: 1px solid #ff0000;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: all 400ms ease;
}
#light .goo-logo {
  color: white;
}

#dark .google {
  background-color: #dec2cb;
  border: 1px solid #f7cac9;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: all 400ms ease;
}
#dark .google:hover {
  background-color: #f7cac9;
  border: 1px solid #c5b9cd;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: all 400ms ease;
}
.goo-logo {
  color: white;
}

.switch {
  display: flex;
  width: 150vw;
  justify-content: flex-end;
  align-items: center;

  position: absolute;
  top: 4px;
}

#light .switch-label {
  color: #eea990;
  font-weight: bold;
}
#dark .switch-label {
  color:#aa6f73;
  font-weight: bold;
}
